{% extends 'base.html' %}

{% load static %}

{% block content %}
    <main class="landing-page">
        <section class="hero">
            <div class="hero-left">
                <div class="my-chat-logo">
                    <h2 class="my-white">My</h2>
                    <h2 class="chat-blue">Chat</h2>
                </div>

                <div class="hero-moto">
                    <h3 class="hero-moto-message"> Conversations that matter, connections that last.</h3>
                </div>
            </div>

            <div class="hero-right">
                {% if not user.is_authenticated %}
                    <div class="hero-register">
                        <h2>You dont have account yet?</h2>
                        <p>Make one</p>
                        <button id="hero-register-btn" type="submit" class="primary-btn">
                            Register Here
                        </button>
                        <p>OR</p>
                        <p>You already have?</p>
                        <button id="hero-login-btn" type="submit" class="primary-btn">
                            Login here
                        </button>
                    </div>
                {% else %}
                    <div class="hero-register">
                        <h2>Welcome again, {{ request.user.username|upper }}!</h2>
                        <p>You can set-up you account here</p>
                        <button id="hero-profile-btn" type="submit" class="primary-btn">
                            Profile
                        </button>
                        <p>OR</p>
                        <p>Join a group here</p>
                        <button id="hero-groups-btn" type="submit" class="primary-btn">
                            Groups
                        </button>
                    </div>
                {% endif %}
            </div>
        </section>


        <h2 class="header-section">Contact Us</h2>
        <section id="contact-us" class="contact-us">
            <div class="contact-us-left">
                <form class="contact-form" action="{% url 'send_contact_message' %}" method="POST">
                    {% csrf_token %}
                    <p>Name</p>
                    <input name="name" placeholder="What is your name?" class="name" required/>
                    <p>Email</p>
                    <input name="emailaddress" placeholder="What is your email?" class="email" type="email" required/>
                    <p>Message</p>
                    <textarea rows="5" cols="50" name="subject" placeholder="Please enter your message" class="message"
                              required></textarea>
                    <button type="submit" class="primary-btn">
                        Send
                    </button>
                </form>
            </div>
            <div class="contact-us-right">
                <div class="direct-contact-container">

                    <ul class="contact-list">
                        <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Galabovo, Bulgaria</span></i>
                        </li>

                        <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a
                                href="tel:1-212-555-5555" title="Give me a call">(212) 555-2368</a></span></i></li>

                        <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a
                                href="mailto:#" title="Send me an email">hitMeUp@gmail.com</a></span></i></li>

                    </ul>

                    <hr>
                    <ul class="social-media-list">
                        <li><a href="#" target="_blank" class="contact-icon">
                            <i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#" target="_blank" class="contact-icon">
                            <i class="fa fa-codepen" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#" target="_blank" class="contact-icon">
                            <i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#" target="_blank" class="contact-icon">
                            <i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                    <hr>

                    <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>

                </div>
            </div>
        </section>
    </main>

    <script>
        let loginBtn = document.getElementById('hero-login-btn')
        let registerBtn = document.getElementById('hero-register-btn')
        let roomsBtn = document.getElementById('hero-groups-btn')

        if (loginBtn) {
            loginBtn.addEventListener('click', function () {
                window.location.href = "{% url 'login' %}";
            });
        }
        ;

        if (registerBtn) {
            registerBtn.addEventListener('click', function () {
                window.location.href = "{% url 'register' %}";
            });
        }
        ;

        if (roomsBtn) {
            roomsBtn.addEventListener('click', function () {
                window.location.href = "{% url 'public_chat_room' %}";
            });
        }
        ;


    </script>
{% endblock %}