{% extends 'base.html' %}

{% load static %}

{% block content %}
    <main>
        <section class="hero">
            <div class="hero-left">
                <div class="my-chat-logo">
                    <h2 class="my-white">My</h2>
                    <h2 class="chat-blue">Chat</h2>
                </div>

                <div class="hero-moto">
                    <h3 class="hero-moto-message"> Conversations that matter, connections that last.</h3>
                </div>
            </div>

            <div class="hero-right">
                <h2>Nav hero</h2>
            </div>
        </section>
    </main>
{% endblock %}