{% extends 'base.html' %}

{% load static %}

{% block content %}
    <main>
        <section class="hero">
            <div class="hero-left">
                <div class="my-chat-logo">
                    <h2 class="my-white">My</h2>
                    <h2 class="chat-blue">Chat</h2>
                </div>

                <div class="hero-moto">
                    <h3 class="hero-moto-message"> Conversations that matter, connections that last.</h3>
                </div>
            </div>

            <div class="hero-right">
                <div class="hero-register">
                    <h2>You dont have account yet?</h2>
                    <p>Make one</p>
                    <button type="submit" class="primary-btn">
                        Register Here
                    </button>
                    <p>OR</p>
                    <p>You already have?</p>
                    <button type="submit" class="primary-btn">
                        Login here
                    </button>
                </div>
            </div>
        </section>
    </main>
{% endblock %}