{% extends 'base.html' %}

{% load static %}

{% block content %}

    <main>
        <div class="chat-menu-wrapper">
            <section class="left-chat">

                <div class="chat-user-info-wrapper">
                    <!-- AVATAR -->
                    <div class="chat-avatar-wrapper">
                        <a href="#" class="chat-circle">
                            <img height="120px" width="120px"
                                 src="{{ user.profile_picture.url }}"
                                 alt="Cloud Chen">
                        </a>
                    </div>

                    <!-- Username -->
                    <div class="chat-username-wrapper">
                        <p>{{ user.username }}</p>
                    </div>
                </div>

                <div class="people-list" id="people-list">
                    <div class="wrap-search">
                        <form action="#" method="get">
                            <div class="search">
                                {% csrf_token %}
                                <input type="text" class="searchTerm" name="query"
                                       placeholder="For who you are looking for?">
                                <button type="submit" class="searchButton">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <ul class="list">

                        {% for room in public_chat_rooms %}
                            <li class="clearfix">
                                <a href="{% url 'public_chat_messages' room.id %}">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg"
                                         alt="avatar"/>
                                    <div class="about">
                                        <div class="name">{{ room.name }}</div>
                                        <div class="status">

                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}

                    </ul>
                </div>

            </section>

            <section class=right-chat>

                {% block right_chat_content %}
                    <p>Hello worlds</p>
                {% endblock %}

            </section>


        </div>

    </main>

{% endblock %}