.primary-btn {
  --color: #0F82FF;
  padding: 0.2em 1.6em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.primary-btn::before, .primary-btn::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.primary-btn::before {
  top: -1em;
  left: -1em;
}

.primary-btn::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.primary-btn:hover::before, .primary-btn:hover::after {
  height: 410px;
  width: 410px;
}

.primary-btn:hover {
  color: rgb(10, 25, 30);
  color: #fff;
}

.primary-btn:active {
  filter: brightness(.8);
}


/*.secondary-btn {*/
/*  --color: #0F82FF;*/
/*  padding: 0.2em 1.6em;*/
/*  border-radius: .3em;*/
/*  position: relative;*/
/*  overflow: hidden;*/
/*  cursor: pointer;*/
/*  transition: .5s;*/
/*  font-weight: 400;*/
/*  font-size: 17px;*/
/*  border: 1px solid;*/
/*  font-family: inherit;*/
/*  text-transform: uppercase;*/
/*  color: var(--text-color);*/
/*  z-index: 1;*/
/*   background-color: var(--color);*/
/*  background-color: var(--color);*/
/*}*/

/*.secondary-btn ::before {*/
/*  top: -1em;*/
/*  left: -1em;*/
/*}*/
