{% extends 'users/profile.html' %}

{% load static %}
{% load custom_filters %}
{% block right_content %}
    <main>
        <div class="friends-list">
            <div class="cards-wrapper">
                {% for account in page_obj %}
                    <div class="card">
                        <div class="profile-wrapper-friends-list center">
                            <div class="profile-body">
                                <img src="{{ account.profile_picture.url }}" alt="{{ account.full_name }}"/>
                                <div class="profile-details">
                                    <h1 class="profile-name">{{ account.full_name }}</h1>
                                    <p class="profile-username">@{{ account.username }}</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="actions">

                                <button id="sendFriendRequest" class="primary">Send Message</button>

                                <button id="view-profile-btn" class="secondary" data-username="{{ account.username }}">
                                    View profile
                                </button>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>No users found.</p>
                {% endfor %}
            </div>

            <!-- Pagination Controls -->
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?query={{ query }}&page=1">First</a>
                    <span class="current-page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                    <a href="?query={{ query }}&page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}



                {% if page_obj.has_next %}
                    <a href="?query={{ query }}&page={{ page_obj.next_page_number }}">Next</a>
                    <span class="current-page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                    <a href="?query={{ query }}&page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            </div>
        </div>


        <script>        
        document.addEventListener('DOMContentLoaded', function () {
            let btns = document.querySelectorAll("#view-profile-btn");

            btns.forEach(function (button) {
                button.addEventListener('click', function () {
                    const username = this.getAttribute('data-username');
                    window.location.href = '{% url 'public-profile' 'USERNAME' %}'.replace('USERNAME', username);
                });
            });
        });
        </script>
    </main>

{% endblock %}