{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block content %}
    <main>
        <div class="user-handler">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form id="id_password_change_form" method="POST" class="form-password">{% csrf_token %}
                <h1>Change password</h1>
                {% for field in form %}
                    <div class="user-box">
                        {% if field.name == 'old_password' %}
                            {{ field|placeholder:"Your Old Password" }}
                        {% elif field.name == 'new_password1' %}
                            {{ field|placeholder:"New Password" }}
                        {% elif field.name == 'new_password2' %}
                            {{ field|placeholder:"Confirm New Password" }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <button type="submit" class="primary-btn">
                    Submit
                </button>
            </form>


        </div>
    </main>

{% endblock %}