{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block content %}
    <main>
        <div class="user-handler">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form id="id_password_reset_form" method="POST" class="form-signin">{% csrf_token %}
                <h1>Change password</h1>
                {% for field in form %}
                    <div class="user-box">
                        {{ field|placeholder:"Email" }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <button type="submit" class="primary-btn">
                    Submit
                </button>

            </form>

        </div>
    </main>

{% endblock %}